body {
    font-family: "Roboto",
        sans-serif;
}
.post {
font-family: "Raleway", sans-serif;
}
.post-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}